.builder-content {
	width: 100%;
  min-height: 90vh;
  display: flex;
  // flex-direction: column;
  //justify-content: center;
  align-items: flex-start;
}

.main-panel {
  width: 1440px;
  margin-left: 5%;

  h2 {
    font-size: 20px;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 16px;
  }

  td {
    border: 1px solid black;
    margin: 0;
    padding: 3px;
    text-align: center;
  }


  thead {
    border: 2px solid black;
    margin: 0;
    padding: 3px;
  }
  th {
    border: 1px solid black;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 1450px) {
  .builder-content {
    width: 100%;
    // padding: 0 20px;
  }
}
